<!DOCTYPE html>
<html>
<head>
	<title>{{.title}}</title>
	<link href="/assets/css/bootstrap.css" rel="stylesheet">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link href='http://fonts.googleapis.com/css?family=Raleway:600,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:700' rel='stylesheet' type='text/css'>
    <link href="/assets/css/index_demo.css" rel="stylesheet" type="text/css">
    <script src="https://unpkg.com/vue"></script>
    <style>
    	img{ 
			max-width:550px; 
			_width:expression(this.width>550?"550px":this.width); 
			max-height:550px; 
			_height:expression(this.height>550?"550px":this.height); 
		}
    </style>
	<script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="/assets/js/load-image.all.min.js"></script>
	<script src="//unpkg.com/vue"></script>
	<script type="text/javascript">
		function selectFile(input) {
        	if (input.files && input.files[0]) {
	            console.log('in select file!!', input.files[0])
	            var reader = new FileReader();
	            $('#centerDiv').show();
	            $('#url').val('http://');
	            reader.onload = function (e) {
	                app.imgurl=e.target.result; //result =  data:image/bmp;base64,...
	            }
	            reader.readAsDataURL(input.files[0]);
	            loadImage(input.files[0],
	              function(img){
	              	var fileName = input.files[0].name;
	              	var imgdata;
	              	if (fileName.endsWith(".png")) {
	              		imgdata = img.toDataURL("image/png");	
	              	//} else if (fileName.endsWidth(".jpg") || fileName.endsWidth(".jpeg")) {
	              	} else {
	              		imgdata = img.toDataURL("image/jpeg");
	              	}
	              	
	                $("#data").val(imgdata); 
	                app.results = [];
	                app.isRequesting=true;
	                $.post("/predict", {
	                	"image": imgdata,
	                }).done(function(data) {
	                	app.isRequesting=false;
	                	if (data.results) {
	                		app.results = data.results;
	                	} else if (data.error) {
	                		app.error = data.error;
	                	}
	                }).fail(function() {
	                	app.error = "server error";
	                }).always(function(){
	                	app.isRequesting=false;
	                });
	              },
	              {maxWidth: 400, maxHeight: 400, canvas: true, orientation: true}
	            );
	        }
    }
	</script>
</head>
<body>
	<div class="contaner" id="main-content">
		<div class="row">
			<div class="col-md-4 col-sm-6">
				<p><strong>What's the story about your picture? Upload to find out!</strong><p>
				<form id="file_form" style="display: block;">
					<input type="file" name="file_name" id="fileinput" onchange="selectFile(this);" style="max-width: 80%; display: inline;">
			    </form>
			</div>
		</div>
		
		<div id="app">
		</div>
	</div>

	<script>
		var app = new Vue({
		  el: '#app',
		  delimiters: ['${', '}'],
		  template: '\
		  	<div>\
			  	<center><h1 v-if="isRequesting">Computing... <img src="/assets/imgs/spinner.gif" /></h1></center>\
			  	<div v-if="error" style="color:red">${error}</div>\
			  	<img v-if="imgurl" :src="imgurl" style="width:auto; max-height: 450px; margin:15px;"></img>\
			  	<ul v-for="item in results" style="padding-left:15px!important;">\
			  		<li style="display:flex">\
				  		<img :src="item.image_url" @click="display(item)"/>\
				  		<div style="margin-left:10px;">\
					  		<p>${item.text}</p>\
					  		<audio v-if="item.audio_url" :src="item.audio_url" controls="controls"></audio>\
				  		</div>\
			  		</li>\
			  	</ul>\
		  	</div>\
		  ',
		  data: {
		  	error:"",
		  	imgurl:"",
		  	isRequesting: false,
		    results: []
		  },
		  methods:{
		  	display(item) {

		  	}
		  }
		});
		console.log('rendered')
	</script>
</body>
</html>